<<<<<<< HEAD
<h1><%= @name.first.capitalize %> Chat Room</h1>
Welcome
<!--
<div id="content">
  <div id="header">
  </div>
  <div id="chat">
    <input type="text" id="name">
    <input type="text" id="message">
    <input type="button" id="btn_send" value="post">
    <ul id="timeline"></ul>
  </div>
</div>

<div id="chat-text">
-->


<div class="page-header" id="top">
<<<<<<< HEAD
	<h1 id="chatNavTitle"><a href='/'>Lightbox</a></h1>
  <h5><center>
  		<%= @name.first.capitalize %> <span>group</span>
  </center></h5>
=======
  <h3><center>Chat</center></h3>
>>>>>>> 6f247774a7332e131ee5802ad5b434a9e0558da8
</div>

<div id="chat-text">
</div>

<form id="input-form" class="form-inline">

  <div class="form-group">
    <input id="input-handle-email" type="hidden" class="form-control" value= <%= current_user.email %> autofocus />
  </div>

  <div class="form-group" id="chatInputForm">

    <input id="input-handle" type="hidden" class="form-control" placeholder="<%=@current_user.name %>" value="<%=@current_user.name%>:" autofocus />
  </div>

  <div class="form-group">
    <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
  </div>

    <button id="submit-button" class="btn btn-primary" type="submit">Send</button>


</form>

<script type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript", src="assets/js/application.js"></script>



</script>
